DB_SERVER=postgres
DB_USER=postgres
DB_PORT=5432
DATABASE=sistema-epi
DB_PASSWORD=postgres

JWT_SECRET=NRWRWkFITB5nhjCrR2Ans4GkheB8Wk3ovlI2RIgClizo0H9tNpAt4Bv/zjkzZhXOTmHFAJnn2eo0ET389sWx0Q==
JWT_EXPIRATION=24

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=
URL_FRONTEND_FORMATO="http://%s:3000"
RESEND_API_KEY=
SUPER_ADMIN_PASSWORD=superadmin123
SUPER_ADMIN_EMAIL=
USER_EMAIL=davifernadesr@gmail.com
USER_TESTE_PASSWORD=teste123